<section>
        <div id="head" style="background: url(./img/blur.jpg);">
   
            <div class="line">
               <h1>View All Sliders</h1>
            </div>
            
         </div>
      
      <div  style="padding-top: 20px;">

         <div class="line">
            <div class="margin">

      <% include sliderPanel %>
      <% include sliderPanel %>
      <% include sliderPanel %>

            </div>
         </div>


          <div class="line">
            <div class="margin">
            
            <% include sliderPanel %>      
              

            </div>
         </div>

      </div>


       
</section>