 <!-- FOOTER -->   
<footer style="background-color: black;">


   <div class="line">
      <div class="s-12 l-6">
               <p>Copyright 2018, UDANEMY.IO - decentralized knowledge
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework" style="color: #701f28;">Udanemy.io D.App</a>
                </p>
      </div>
   </div>
</footer>   