   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>unademy.io</title>
      <link rel="stylesheet" href="../stylesheets/components.css">
      <link rel="stylesheet" href="../stylesheets/responsee.css">
      <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
      <!-- CUSTOM STYLE -->  
      <link rel="stylesheet" href="stylesheets/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
      <script type="text/javascript" src="../templateScripts/modernizr.js"></script>
      <script type="text/javascript" src="../templateScripts/responsee.js"></script>  


      <script src="https://use.fontawesome.com/f26a877f65.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <link rel="stylesheet" href="/stylesheets/crypto.css" type="text/css">

    <link rel="stylesheet" href="/stylesheets/crypto-color.css" type="text/css">
      <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <![endif]-->
   </head>