<!DOCTYPE html>
<html lang="en-US">

   <% include components/header %>

   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
          <% include components/nav %>
      </header>

      <% include components/about %>

      <% include components/footer %>
      <% include components/carScript %>
    
   </body>

</html>