<!DOCTYPE html>
<html lang="en-US">

   <% include components/header %>

   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
         <% include components/nav %>
      </header>

   <section>
         <div id="head" style="background: url(./img/lights.jpg);">
            <div class="line">
               <h1>Registration</h1>
            </div>
         </div>

      <div class="row centered-form" style="padding-top: 40px;padding-bottom: 46px;">

        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading" style=" background-color: black;">
                        <h3 class="panel-title"><b style="color:#701f28;">Registration </b><small>udanemy.io</small></h3>
                        </div>
                        <div class="panel-body">

                        <form role="form" action="/signup" method="POST">

                            <div class="row" style="padding-bottom: 15px;padding-top: 50px;">

                                <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" class="form-control input-sm reg" placeholder="User Name" required="true">
                                    </div>
                                </div>

                               
                            </div>

                              <div class="row" style="padding-bottom: 15px;">

                                <div class="col-xs-6 col-sm-6 col-md-10 col-md-offset-1">
                                   <div class="form-group">
                                      <input type="email" name="email" id="email" class="form-control input-sm reg" placeholder="Email Address" required="true">
                                  </div>
                                </div>

                            </div>


                            <div class="row" style="padding-bottom: 40px;">
                                <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm reg" placeholder="Password" required="true">
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-5">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm reg" placeholder="Confirm Password" required="true">
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="padding-bottom: 40px;">
                                <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
                                    <a href="./terms">TERMS OF SERVICE </a><input type="checkbox" required style="margin-left: 10px;" />


                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-5">
                                     <a href="./terms">Acceptable Use Policy</a><input type="checkbox" required style="margin-left: 10px;"/>
                                </div>

                            </div>


                          
                            <div class="row">
                     
                                <div class="col-xs-6 col-sm-6 col-md-10 col-md-offset-1">
                        
                                     <input type="submit" value="Register" class="btn btn-block reg" style="background-color: red;font-size: 20px;">
                                </div>

                            </div>

                           
                        
                        </form>
                    </div>
                </div>
                <p>Already have an account? <a href="/login" style="color: #701f28;">Login</a></p>
                    <p>Or go <a href="/" style="color: #701f28;">home</a>.</p>

            </div>

        </div>
    </div>

</section>

   </body>
   <% include components/footer %>
   <% include components/carScript %>
</html>